.hal{
    color: blue;
    border: 2px solid red;
    background-color: aquamarine;
}
.b1{
    color: brown;
    background-color: blue;
}
.b2{
    color: lightcoral;
    background-color: darkgreen;
}
.b3{    color: darkslategrey;
    background-color: orange;
}
.b4{
    color: darkblue;
    background-color: greenyellow;
}